Repository andrewvasilchuk/v-aspect-ratio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, editorconfig-checker, sort-package-json --check

chore: add Makefile
  .editorconfig
  Makefile
Due: none

docs: fix block code error
  README.md
Due: prettier, editorconfig-checker

build: transpile using babel
  .browserslistrc
  build/rollup.config.prod.js
  package-lock.json
  package.json
Due: prettier, editorconfig-checker, sort-package-json --check

build: use rollup instead of webpack
  README.md
  build/base/plugins/index.js
  build/rollup.config.prod.js
  build/webpack.config.js
  build/webpack.config.ssr.js
  package-lock.json
  package.json
Due: prettier, editorconfig-checker, sort-package-json --check

chore: validate .css,.md files
  .lintstagedrc
  package.json
Due: sort-package-json --check

chore(deps): update
  package-lock.json
  package.json
Due: sort-package-json --check

test: rewrite
  jest.config.js
  test/components/TestComponent.ts
  test/fixtures/index.ts
  test/index.test.ts
  test/util/index.ts
Due: prettier, editorconfig-checker

chore: add vetur folder to files
  package.json
Due: sort-package-json --check

BREAKING CHANGE: rewrite using TypeScript
  build/rollup.config.dev.js
  build/rollup.config.prod.js
  demo/App.ts
  demo/index.ts
  jest.config.js
  package-lock.json
  package.json
  src/directive.ssr.ts
  src/directive.ts
  src/helpers.js
  src/helpers.ts
  src/index.js
  src/index.ssr.js
  src/index.ssr.ts
  src/index.ts
  src/plugin/index.ts
  src/v-aspect-ratio.js
  src/v-aspect-ratio.ssr.js
  test/index.test.js
  test/index.test.ts
  test/util/index.ts
  tsconfig.json
  tsconfig.prod.json
  types/index.d.ts
Due: prettier, editorconfig-checker, sort-package-json --check

chore: make prettier ignore .nuxt
  .prettierignore
Due: none

chore: add private field to package.json
  package.json
Due: sort-package-json --check

ci: add [skip ci]
  .github/workflows/integrate.yml
Due: none

chore: add CODE_OF_CONDUCT.md [skip-ci]
  CODE_OF_CONDUCT.md
Due: prettier, editorconfig-checker

chore: add PULL_REQUEST_TEMPLATE [skip-ci]
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier, editorconfig-checker

chore: add FUNDING.yml [skip-ci]
  .github/FUNDING.yml
Due: none

chore: add ISSUE_TEMPLATE [skip-ci]
  .github/ISSUE_TEMPLATE/BUG_REPORT_TEMPLATE.md
  .github/ISSUE_TEMPLATE/DOCS_ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST_TEMPLATE.md
Due: prettier, editorconfig-checker

chore: add GitHub pages [skip-ci]
  index.html
Due: none

docs: add link to GitHub pages [skip-ci]
  README.md
Due: prettier, editorconfig-checker

docs: fix typo [skip-ci]
  README.md
Due: prettier, editorconfig-checker

chore: add codecov
  .github/workflows/integrate.yml
  jest.config.js
  src/directive.ssr.ts
  test/ssr/index.ssr.test.ts
  test/ssr/nuxt.config.js
  test/ssr/pages/index.vue
Due: prettier, editorconfig-checker

chore: add remark-lint
  .github/ISSUE_TEMPLATE/BUG_REPORT_TEMPLATE.md
  .remarkrc
  package-lock.json
  package.json
Due: prettier, editorconfig-checker, sort-package-json --check

style: editorconfig
  CODE_OF_CONDUCT.md
Due: prettier, editorconfig-checker

chore: add husky pre-push hook
  .huskyrc
Due: none

chore: ehance lintstagedrc
  .lintstagedrc
Due: none

style: prettier
  CODE_OF_CONDUCT.md
Due: prettier, editorconfig-checker

ci: lint before test
  .github/workflows/integrate.yml
  .prettierignore
Due: none

Add Codacy badge
  README.md
Due: prettier, editorconfig-checker

build: use TypeScript
  build/base/plugins/index.ts
  build/rollup.config.dev.ts
  build/rollup.config.prod.ts
  package-lock.json
  package.json
Due: prettier, editorconfig-checker, sort-package-json --check

chore: add shields [skip-ci]
  README.md
Due: prettier, editorconfig-checker

chore: fix vetur-attributes
  vetur/vetur-attributes.json
Due: none

chore(deps): update [skip-ci]
  package-lock.json
  package.json
Due: sort-package-json --check

chore: v2.0.1 version [skip-ci]
  package-lock.json
  package.json
Due: sort-package-json --check

chore(deps): update
  .babelrc
  .editorconfig
  .gitignore
  .prettierrc
  LICENSE
  __mocks__/vue/index.ts
  build/rollup.config.dev.ts
  build/rollup.config.prod.ts
  jest.config.js
  package-lock.json
  package.json
  test/ssr/fixture/nuxt.config.js
  test/ssr/fixture/pages/index.vue
  test/ssr/index.ssr.test.ts
Due: prettier, editorconfig-checker, sort-package-json --check

chore: add ESLint
  .eslintignore
  .eslintrc.js
  build/base/plugins/index.js
  build/rollup.config.dev.ts
  build/rollup.config.prod.ts
  demo/App.ts
  demo/index.ts
  package-lock.json
  package.json
  src/directive.ssr.ts
  src/directive.ts
  src/helpers.ts
  test/components/TestComponent.ts
  test/index.test.ts
  test/ssr/fixture/nuxt.config.js
  test/util/index.ts
  tsconfig.json
Due: prettier, editorconfig-checker, sort-package-json --check

chore: add `"no-undefined-references"` [skip-ci]
  .remarkrc
Due: none

chore: ESLint on commit [skip-ci]
  .lintstagedrc
Due: none

chore: add madewithvuejs.com shield
  README.md
Due: prettier, editorconfig-checker

chore: update deps
  package-lock.json
  package.json
  test/util/index.ts
Due: prettier, editorconfig-checker, sort-package-json --check

test: add more tests
  src/directive.ssr.ts
  test/unit/directive.ssr.test.ts
  test/unit/directive.test.ts
  test/unit/helpers.test.ts
Due: prettier, editorconfig-checker

chore: update deps
  .github/workflows/integrate.yml
  build/base/plugins/index.js
  build/rollup.config.dev.ts
  build/rollup.config.prod.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier, editorconfig-checker, sort-package-json --check

Path conditions:
  prettier: any of: *.{js,ts,css,md}
  editorconfig-checker: any of: *.{js,ts,css,md}
  sort-package-json --check: any of: package.json
