Repository andrewvasilchuk/v-aspect-ratio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier, editorconfig-checker, sort-package-json --check

chore: update demo
  demo/App.ts
Due: prettier, editorconfig-checker

docs: update
  README.md
Due: none

chore: validate .css,.md files
  .lintstagedrc
  package.json
Due: sort-package-json --check

chore: change repository links
  package.json
Due: sort-package-json --check

chore: add lint:prettier npm script
  package.json
Due: sort-package-json --check

test: rewrite
  jest.config.js
  test/components/TestComponent.ts
  test/fixtures/index.ts
  test/index.test.ts
  test/util/index.ts
Due: prettier, editorconfig-checker

ci: add GitHub Actions
  .github/workflows/integrate.yml
Due: none

docs: add notes about direct browser usage
  README.md
Due: none

docs: add note about 1.x docs
  README.md
Due: none

chore(deps): update
  package-lock.json
  package.json
Due: sort-package-json --check

test: add ssr test
  .github/workflows/integrate.yml
  jest.config.js
  package-lock.json
  package.json
  test/ssr/index.ssr.test.ts
  test/ssr/nuxt.config.js
  test/ssr/pages/index.vue
Due: prettier, editorconfig-checker, sort-package-json --check

docs: fix block code error
  README.md
Due: none

chore: make prettier ignore .nuxt
  .prettierignore
Due: none

chore: v2.0.0 verion
  package-lock.json
  package.json
Due: sort-package-json --check

chore: remove types folder from files
  package.json
Due: sort-package-json --check

chore: add fmt npm script
  package.json
Due: sort-package-json --check

chore: enforce commit message formatting
  .huskyrc
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier, editorconfig-checker, sort-package-json --check

chore: enforce order of package.json
  .lintstagedrc
  package-lock.json
  package.json
Due: sort-package-json --check

chore: add lint npm script
  Makefile
  package.json
Due: sort-package-json --check

BREAKING CHANGE: remove checks for a valid value
  src/config.js
  src/helpers.js
Due: prettier, editorconfig-checker

chore: add formatting git client hooks
  .huskyrc
  .lintstagedrc
  package-lock.json
  package.json
Due: sort-package-json --check

chore: change vue peerDependency version
  package.json
Due: sort-package-json --check

chore: rename prettier command and quotify path
  package.json
Due: sort-package-json --check

chore: add editorconfig-checker
  .lintstagedrc
  .prettierignore
  .prettierrc
  LICENSE
  package-lock.json
  package.json
Due: sort-package-json --check

chore: add vetur attributes
  package.json
  vetur/vetur-attributes.json
Due: sort-package-json --check

build: add dev environment
  .gitignore
  build/rollup.config.dev.js
  demo/App.js
  demo/index.html
  demo/index.js
  package-lock.json
  package.json
Due: prettier, editorconfig-checker, sort-package-json --check

chore: use popular .gitignore
  .gitignore
Due: none

chore: add unpkg and module fields to package.json
  package.json
Due: sort-package-json --check

chore: make prettier dev dependency
  package-lock.json
  package.json
Due: sort-package-json --check

style: prettier
  build/rollup.config.prod.js
  demo/App.ts
  demo/index.ts
  src/directive.ssr.ts
  src/directive.ts
  src/index.ts
  src/plugin/index.ts
  test/index.test.ts
  test/util/index.ts
Due: prettier, editorconfig-checker

Path conditions:
  prettier: any of: *.{js,ts}
  editorconfig-checker: any of: *.{js,ts}
  sort-package-json --check: any of: package.json
